@import "tailwindcss";
@plugin "daisyui";

.active {
  background-color: #0ea5e9; /* sky-500 */
  color: #020617; /* slate-950 */
  border-radius: 9999px;
  box-shadow: 0 0 0 1px rgba(56, 189, 248, 0.6),
              0 10px 30px rgba(15, 23, 42, 0.8);
}
