@import "tailwindcss";
@plugin "daisyui";

.active {
  background-color: var(--p); /* primary */
  color: var(--pc); /* primary-content */
  border-radius: 9999px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
